* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.header-title {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
}

.dmark {
    background-color: black;
    color: white;
    padding: 0 .5rem;
}

main {
    display: flex;
    gap: 1.8rem;
    max-width: 1400px;
    margin: 0 auto 3rem auto;
    padding: 0 1rem;
}

.posts {
    flex: 2;
}

.sidebar {
    flex: 1;
}

footer {
    background-color: #616161;
    color: white;
    padding: 1.5rem 1rem 2.5rem 1rem;
}

.pagination {
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: black;
    padding: .75rem 1.5rem;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #ccc;
    color: black;
}

.btn.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.post {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
}

.post-image {
    width: 100%;
}

.post-body {
    padding: 1rem;
}

.post-title {
    margin: 0 0 .5rem 0;
}

.post-desc {
    font-size: 1.2em;
}

.post-date {
    color: gray;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-more {
    border: 1px solid #ccc;
    padding: .8rem 1.6rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.read-more:hover {
    background-color: #ccc;
}

.post-comments {
    font-weight: 500;
    margin-right: 1rem;
}

.post-comment-count {
    margin-left: .4rem;
}

.post-comment-oval {
    border-radius: 50%;
    padding: .1rem .5rem;
}

.widget {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 2rem;
}

.widget-title {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: .6rem;
}

.widget-image {
    width: 100%;
    display: block;
}

.widget-body {
    padding: 1rem;
}

.widget-header {
    background-color: #f1f1f1;
    font-size: 1.4em;
    padding: 1rem;
}

ul.popular-posts {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li.popular-post {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

li.popular-post:nth-last-child(1) {
    border: none;
}

li.popular-post:hover {
    background-color: #ccc;
}

.popular-post-image {
    width: 50px;
    float: left;
    margin-right: 1rem;
}

.popular-post-title {
    font-size: 1.2em;
}

.tag {
    background-color: #f1f1f1;
    padding: 0 .5rem;
}

.tags {
    line-height: 2;
}

.tag.selected {
    background-color: black;
    color: white;
    font-size: 1.2em;
}

@media screen and (max-width: 991px)
{
    main {
        flex-direction: column;
    }

    .popular-post:nth-child(n+4) {
        display: none;
    }
}